<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

	<!--Monitor client configuration for subscribe, unsubscribe and notify service endpoint on port 9001-->
 <system.serviceModel>
    <client>
      <endpoint name="Common.ISubscribeUnsubscribe" address="net.tcp://localhost:9001/ISubscribeUnsubscribe" binding="netTcpBinding" contract="Common.ISubscribeUnsubscribe" />
    </client>
  </system.serviceModel>
	
	<!--Configuration data for monitor client-->
  <appSettings>
    <add key="Id" value="Monitor1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>	

</configuration>