<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

	<!--Client configuration for providing data on exposed service endpoint on port 9000-->
	<system.serviceModel>
		<client>
			<endpoint name="Common.IDataProviderService" address="net.tcp://localhost:9000/IDataProviderService" binding="netTcpBinding" contract="Common.IDataProviderService"/>
		</client>
	</system.serviceModel>

	<!--Configuration data for meteo station Gacko-->
	<appSettings>
		<add key="LocationName" value="Gacko"/>
		<add key="Latitude" value="43.1672"/>
		<add key="Longitude" value="18.5360"/>		
		<add key="MeteoStatioName" value="Station1"/>
		<add key="TemperatureSensorId" value="WE700G"/>
		<add key="HumiditySensorId" value="WE600G"/>		
	</appSettings>
	
</configuration>